@import "../../../../projects/mobileia/layout-coda/src/lib/scss/coda.scss";

.dashboard{
    padding: 24px;
    background-color: $colorBackground;

    @include xs{
        width: calc(100% - 48px);
        overflow: hidden;
    }

    .header{
        background-color: rgba($color: $colorBlue, $alpha: 0.10);
        border-radius: 8px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 38px;

        @include xs { display: block; }

        .texts{
            width: 400px;
            display: inline-block;
            margin: 0 24px;

            @include xs { width: 100%; }

            h1{
                font-family: $fontTitle;
                color: $colorBlue;
                font-weight: 600;
            }
        }

        .image{
            width: 400px;
            display: inline-block;
            margin: 0 24px;

            @include xs { width: 100%; }

            img { width: 100%; }
        }
    }

    .title-chart{
        font-size: 18px;
        color: $colorTitle;
        margin-bottom: 24px;
    }

    .charts-group{
        margin-bottom: 38px;

        .chart{
            padding: 16px;
            border: 2px solid rgba($color: $colorBlue, $alpha: 0.5);
            border-radius: 8px;
            position: relative;
            background-color: white;

            p{
                font-size: 18px;
                margin: 0;

                span{
                    color: $colorGreen;
                }

                small{
                    color: $colorGray;
                }
            }

            .h1{
                font-size: 56px;
                line-height: 1;
                margin: 6px 0;
                font-family: $fontTitle;
            }

            .icon{
                width: 60px;
                height: 60px;
                margin: auto;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 24px;
            }
            .lead { background-image: url(/assets/img/icons/icon-lead.png); }
            .customer { background-image: url(/assets/img/icons/icon-customer.png); }
            .revenue { background-image: url(/assets/img/icons/icon-revenue.png); }
        }
    }
}